@model IEnumerable<Labb4MVC.Models.Quiz>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CorrectAnswer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alternativ1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alternativ2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alternativ3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alternativ4)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alternativ1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alternativ2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alternativ3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alternativ4)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
